<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienes raices industriales en mexico</title>
    <link rel="stylesheet" href="http://localhost:8000/assets/css/style.css">
</head>
<body>
    <main class="Panel">
        <div class="containerPanel">
            <aside class="menu">
                <menu class="mainMenu">
                    <div class="logoPanelContainer">
                        <img src="http://localhost:8000/assets/images/INDUSTRYLUX.jpg" alt="">
                        
                    </div>
                    <nav>
                        <ul>
                            <li><a href="/dashboard/properties/">Dashboard </a></li>
                            <li><a href="/dashboard/properties/">Properties </a></li>
                            <li><a href="/dashboard/properties/">Cities</a></li>
                            <li><a href="/dashboard/properties/">Province </a></li>
                            <li><a href="/dashboard/properties/">Countries </a></li>
                        </ul>
                    </nav>
                </menu>
            </aside>
        </div>
        <div class="panelRenderElements">
            
        </div>
    </main>
</body>
</html>