<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienes raices industriales en <%=data[1].country %></title>
</head>
<body>
    <header class="mainHeader">
        <div class="mainHeaderLogo">
            <img src="" alt="Logo Industrilux">
        </div>
    </header>
</body>
</html>